* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
header::before {
  background: url("https://images.all-free-download.com/images/graphiclarge/abstract_wave_background_310308.jpg")
    no-repeat center center/cover;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.8;
}

/* navigation bar  */
.navbar {
  display: flex;
  align-items: center;
  top: 0px;
  background-color: #017e7e !important;
}
#logo {
  margin: 21px 33px;
}
#logo img {
  height: 60px;
  width: 303px;
  margin: -17px 50px;
  border-radius: 89px;
}
.ques {
  margin: 23px;
}
